# macOS
.DS_Store

# Editores / IDEs
.idea/
.vscode/

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
venv/
build/
dist/
.pytest_cache/
.coverage

# Secrets
.env
.env.*
!.env.example

# Terraform
.terraform/
*.tfstate*
*.tfvars
*.tfvars.json
backend.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
